<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<style type="text/css">
		*{
			margin:0px;
			padding: 0px;
		}
		body
		{
			font-size: 20px;
			text-align: center;
		}
		#header
		{
			background-color:brown;
			padding: 50px;
			font-size: 2.5em;
		}
		#footer
		{
			clear: left;
			font-size: 2em;
			background-color: aqua;
			padding: 30px;
		}
		.column-item
		{
			background-color: grey;
			box-shadow: 1px 1px 3px 5px black;
			float: left;
			width: 33.33%;
			height: 500px;	
		}
	Column</style>
</head>
<body>
	<div id="header">Header</div>
	<div id="columns">
		<div class="column-item">Column</div>
		<div class="column-item">Column</div>
		<div class="column-item">Column</div>
	</div>
	<div id="footer">Footer</div>

</body>
</html>