<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		*{
			margin:0px;
			padding: 0px;

		}
		#grid-container
		{
			padding: 20px 20px;
			display:grid;
			grid-gap: 50px 50px;
			grid-template-columns: auto auto auto;
			grid-template-rows: auto auto auto;
			background-color: #ABABAB;
			justify-content: center;
		}
		.grid-item
		{
			text-align: center;
			font-size: 1.5em;
			background-color: aqua;
			color: white;
			padding: 20px 20px;
		}
		.item1
		{
			grid-column-start: 1;
			grid-column-end: 3;
		}
	</style>
</head>
<body>
	<div id="grid-container">
		<div class="grid-item item1">item</div>
		<div class="grid-item item2">item</div>
		<div class="grid-item item3">item</div>
		<div class="grid-item item4">item</div>
		<div class="grid-item item5">item</div>
		<div class="grid-item item6">item</div>
		<div class="grid-item item7">item</div>
		<div class="grid-item item8">item</div>
		<div class="grid-item item9>item</div>
	</div>
</body>
</html>