*
{
	margin: 0px;
	padding: 0px;
}
a{
	display: block;
}
h2,p,a
{
	text-align: center;
}
#container
{
	color:#EF23C1;
    font-family: sans-serif;
    font-size: 20px;
	padding-top: 100px;
	background-image: url("../../IMG/bg1.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 25px;
	
}
#container h2{
	margin-bottom: 20px;
}
#container p{
	margin-bottom: 20px;
}
#container a
{
	border-radius: 5px 10px;
	padding: 5px;
	color:white;
	margin: 0 auto;
	text-decoration: none;
	width: 400px;
	background-color: red;
	transition: .6s background-color;
}
#container a:hover
{
	background-color: white;
	color: red;
}
